<!DOCTYPE html>
<html lang="pt">
<head>

    <link href="http:/static/style.css" rel="stylesheet">

</head>
<body>

    <h2>Claro/Escuro</h2>
<audio src="http:/templates/audio.mp3"></audio>

    <div class="trilho" id = "trilho">
        <div class="indicador"></div>


</div>

    <meta charset="UTF-8">
    <title>Página Inicial</title>



    <center>  <h3> <p> UNIVESP -PROJETO INTEGRADOR TECNOLOGIA DA INFORMAÇÃO</p></h3>
    <br>
    <br>


    <h4>SIGCom </h4>
    <h5>Sistema Integrado de Gerenciamento da Comunidade Igreja Batista</h5>


</head>
<body>

<br>
<br>

<center> <button> <font size = " 5px"><a href=http://127.0.0.1:5000/receber>CONTAS A RECEBER</a></button>
<button> <font size = " 5px"><a href=http://127.0.0.1:5000/pagar>CONTAS Á PAGAR</a></button>

    <button> <font size = " 5px"><a href=http://127.0.0.1:5000/financeiro>Voltar</a></button>
    <br>


</center>

<script src="http:/static/scripts.js"></script>

</body>
</html>