<!DOCTYPE html>
<html lang="pt">
<head>

    <link href="http:/static/style.css" rel="stylesheet">

</head>
<body>

    <h2>Claro/Escuro</h2>
<audio src="http:/templates/audio.mp3"></audio>

    <div class="trilho" id = "trilho">
        <div class="indicador"></div>


</div>

    <meta charset="UTF-8">
    <title>Página Inicial</title>



    <center>  <h3> <p> UNIVESP -PROJETO INTEGRADOR TECNOLOGIA DA INFORMAÇÃO</p></h3>
    <br>
    <br>


    <h4>SIGCom </h4>
    <h5>Sistema Integrado de Gerenciamento da Comunidade Igreja Batista</h5>

    <br>

    <p>  <big> <font color = "white"> <font size="20px">GESTÃO DE MEMBROS </font></font></big> </p>

    

  </div>
<div>
      <center> <p> <button><a href=http://127.0.0.1:5000/cadastrados>Membros Cadastrados</a> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </center>
</div>

<div>
      <center> <p> <button></p><a href=http://127.0.0.1:5000/formulario>Cadastar Novo Membro</a></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
      <center> <p> <button><a href=http://127.0.0.1:5000/novoadmin>Cadastrar ADM</a> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </center>
</div>

<div>
      <center> <p> <button></p><a href=http://127.0.0.1:5000/excluir>Excluir Membro</a></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div>
      <center> <p> <button><a href=http://127.0.0.1:5000>Ínicio</a> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </center>
</div>

<div>
      <center> <p> <button><a href=http://127.0.0.1:5000/menu1>Voltar</a> </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </center>
</div>










</font>
    </form>

    <script src="http:/static/scripts.js"></script>

</body>
</html>