<!DOCTYPE html>
<html lang="pt">
<head>
    <style>
        body {background-image: linear-gradient(to right,rgb(20,147,210), rgb(17,54,210));}
        p {margin-left:20px}

    </style>
</head>
    <meta charset="UTF-8">
    <title>Gestão</title>







<center>


    <p> UNIVESP - PROJETO INTEGRADOR TECNOLOGIA DA INFORMAÇÃO</p>
     <br>
     <br>
    <img alt="jpg" id="biblia" src="biblia2.jpg">

    <p>  <big> <font color = "white"> <font size="20px">GESTÃO DE MEMBROS </font></font></big> </p>

    <br>

  </div>
<font size = "5px">
         <p> <a href=https://gestao-membros-b77967b85401.herokuapp.com/cadastrados> Membros Cadastrados </a>
         <p> <a href=https://gestao-membros-b77967b85401.herokuapp.com/formulario>Cadastrar Novo Membro</a>
         <p> <a href=https://gestao-membros-b77967b85401.herokuapp.com/buscar>Buscar Membro</a>
         <p> <a href=https://gestao-membros-b77967b85401.herokuapp.com/excluir>Excluir Membro</a>




    </center>

    </p>


<center><p> <a href=https://gestao-membros-b77967b85401.herokuapp.com>Início</a></center>
<center><p> <a href=https://gestao-membros-b77967b85401.herokuapp.com/autenticacao>Voltar</a></center>




</font>
    </form>
</body>
</html>