<!DOCTYPE html>
<html lang="pt">
<head>
    <style>
        body {background-image: linear-gradient(to right,rgb(20,147,210), rgb(17,54,210));}
        p {margin-left:20px}

    </style>
</head>
    <meta charset="UTF-8">
    <title>Gestão</title>







<center>


    <p> UNIVESP - PROJETO INTEGRADOR TECNOLOGIA DA INFORMAÇÃO</p>
     <br>
     <br>


    <p>  <big> <font color = "white"> <font size="20px">GESTÃO DE MEMBROS </font></font></big> </p>

    <img src="https://cdn.pixabay.com/photo/2020/11/27/07/32/choir-5781096_1280.jpg" width="900" height="600">
    <br>

  </div>
<font size = "5px">
         <p> <a href=https://ac780fb766e1.ngrok-free.app/cadastrados> Membros Cadastrados </a>
         <p> <a href=https://ac780fb766e1.ngrok-free.app/formulario>Cadastrar Novo Membro</a>
                 <p> <a href=https://ac780fb766e1.ngrok-free.app/excluir>Excluir Membro</a>




    </center>

    </p>


<center><p> <a href=https://ac780fb766e1.ngrok-free.app>Início</a></center>
<center><p> <a href=https://ac780fb766e1.ngrok-free.app/menu1>Voltar</a></center>




</font>
    </form>
</body>
</html>