
<!DOCTYPE html>
<html lang="pt">
<head>
    <style>


    </style>
</head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>



    <center>   <p> UNIVESP -PROJETO INTEGRADOR TECNOLOGIA DA INFORMAÇÃO</p>
    <br>
    <br>


    <p>  <big> <font color = "Red"> <font size="20px">SIGCom </font></font></big> </p>
    <p>  <big> <font color = "Blue"> <font size="4px">Sistema Integrado de Gerenciamento da Comunidade Igreja Batista</font></font></big> </p>

    <br>

     </div>
       <button> <font size = " 5px"><a href=https://ac780fb766e1.ngrok-free.app/autenticacao>Clique aqui para fazer login</a></button>
        </font>
    </center>

     <center><img id= "imagem" src="https://cdn.pixabay.com/photo/2016/11/29/11/25/bible-1869164_1280.jpg" width="1000" height="600"/>


<div>
<audio id="audio" src="C:\Users\USER\PycharmProjects\gestao22\templates\audio.mp3"></audio>

</div>

<div class=" music-container">
    <h4 id = "playlist-title"> PlayList ok</h4>


</div>
<script> </script>

</center>
<script src="C:\Users\USER\PycharmProjects\gestao22\templates\scripts.js"></script>
</body>
</html>