
<!DOCTYPE html>
<html lang="pt">
<head>
    <style>
        body {background-image: linear-gradient(to right,rgb(20,147,210), rgb(17,54,210));}
        p {margin-left:20px}

    </style>
</head>
    <meta charset="UTF-8">
    <title>Homepage</title>







<center>


    <p> UNIVESP -PROJETO INTEGRADOR TECNOLOGIA DA INFORMAÇÃO</p>
     <br>
     <br>
    <img alt="jpg" id="biblia" src="biblia2.jpg">

    <p>  <big> <font color = "white"> <font size="20px">MEMBROS IGREJA BATISTA</font></font></big> </p>

    <br>

  </div>
         <p> <font size = " 5px"><a href=https://gestao-membros-b77967b85401.herokuapp.com/autenticacao>Clique aqui para fazer login</a>
</font>




    </center>

    </p>






</body>
</html>